<h2>Home</h2>

<h3>Add a Listing</h3>
<form ng-submit="hc.addListing(hc.listing)">
    <input type="number" placeholder="Cost" ng-model="hc.listing.cost"/>
    <input type="number" placeholder="Sq. Feet" ng-model="hc.listing.sqft"/>
    <input type="text" placeholder="Rent/Sale" ng-model="hc.listing.type"/>
    <input type="text" placeholder="City" ng-model="hc.listing.city"/>
    <input type="text" placeholder="Image Path" ng-model="hc.listing.image_path"/>
    <input type="Submit" value="Submit">
</form>