<div class="header-div">
    <h2>Rentals</h2>
</div>

<div class="card" ng-repeat="listing in rc.rentalsList">
    <ul>
        <div class="image-div">
            <img ng-src="images/{{listing.image_path}}" alt="Card image cap" />
        </div>
        <div class="container">
            <h4 class="card-title">
                <b>{{listing.cost}}</b>
            </h4>
            <p class="card-text">{{listing.sqft}}</p>
            <p class="card-text">{{listing.type}}</p>
            <p class="card-text">{{listing.city}}</p>
            <button class="btn btn-danger" ng-click="rc.deleteListing(listing)">Delete</button>
        </div>
    </ul>
</div>